@{
    ViewData["Title"] = "Groups Results Page";

}

<div id="p" class="text-center">
    <div id="pp" style="display: flex">
        <div id="c1" style="text-align:left; margin: 0;flex: 50%;">
        <h1 class="display-4">Groups Results</h1>
        </div>

        <div id="c2" style="text-align:center; margin: 0;flex: 50%;">
            <a class="btn btn-outline-success" href="/SearchBar/UsersResults/@ViewBag.Name">Show Users</a>
        </div>
    </div>

    <div id="c3" style="text-align:left; margin: 0;">
    @foreach (var group in ViewBag.Groups)
    {
            <a class="btn btn-outline-success" href="/Group/Show/@group[0]">
                <h1>@group[1]</h1>
                <img src="@group[2]" style="border-radius: 50%" width="170" height="170" />
            </a>

            <br />
    }
    </div>

</div>