@{
    ViewData["Title"] = "Users Results Page";

}
<div class="text-center">
    <div id="pp" style="display: flex">


        <div id="c2" style="text-align:center; margin: 0;flex: 50%;">
            <a class="btn btn-outline-success" href="/SearchBar/GroupsResults/@ViewBag.Name">Show Groups</a>
        </div>
    </div>

    <br />
    <br />

    <div id="c3" style="display: flex; justify-content:center; flex-direction:column;">
        @foreach (var profile in ViewBag.Profiles)
        {
            <a class="btn btn-outline-success" href="/Profile/Show/@profile[0]" style="width:180px; height:140px; justify-content:center; display:flex; margin-left:auto; margin-right:auto; margin-bottom:25px;">
                <div style="width:180px; height:180px; padding-left:15px; padding-right:15px; align-items:center">
                    <p style="font-size:25px; font-weight:bold; overflow: hidden; text-overflow: ellipsis; white-space:nowrap">@profile[1]</p>   <!--username-->
                    <img src="@profile[2]" style="border-radius:50%;" width="60" height="60" />        <!--profile image-->
                </div>
            </a>

            <br />
            <br />
        }
    </div>

</div>