@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home/Index</h1>
    <a class="btn btn-outline-success" href="/Profile/Show/@ViewBag.ProfileUserId">To Profile/Show</a>
</div>
