@model Proiect.Models.Group_Message

<div class="card-title alert-success py-3 px-3 rounded-2">
    <h2 class="text-center mt-5" style="font-weight:bold">Add Group Message</h2>
    <br />
    <div class="row">
        <div class="col-6 offset-3">

            @using (Html.BeginForm(actionName: "NewMessage", controllerName: "GroupMessage",
            method: FormMethod.Post,
            routeValues: new { groupId = ViewBag.GroupId }))       //the id of the group we are sending the message
            {

                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @Html.Label("Message", "Your Message")
                <br />
                @Html.TextBox("Message", null, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
                <br />

                <br />

                <button class="btn btn-success" type="submit">Add message</button>
            }

        </div>
    </div>
</div>